In [2]:
import pandas as pd

In [4]:
data = {
    'name': 'James',
    'sex': 'male',
    'age': 22
}
james_s = pd.Series(data)

In [5]:
print(james_s)

name    James
sex      male
age        22
dtype: object

In [7]:
import numpy as np
array = np.array([100,200,300])
pd.Series(array)

0    100
1    200
2    300
dtype: int64

In [8]:
pd.Series(np.linspace(1,100,5))

0      1.00
1     25.75
2     50.50
3     75.25
4    100.00
dtype: float64

In [10]:
array3 = np.array([1,2,3])
labels = ['a','b','c']
pd.Series(array3, labels)

a    1
b    2
c    3
dtype: int64

In [11]:
print(james_s['sex'])

male