In [3]:
import pandas as pd

In [7]:
transaction_1 = pd.read_csv('./csv/transaction_1.csv')
transaction_1.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [8]:
transaction_2 = pd.read_csv('./csv/transaction_2.csv')
transaction_2.head()

  transaction_id   price         payment_date customer_id
0    T0000005113  295000  2019-06-15 07:20:27    TS169261
1    T0000005114   50000  2019-06-15 07:35:47    HI599892
2    T0000005115   85000  2019-06-15 07:56:36    HI421757
3    T0000005116   50000  2019-06-15 08:40:55    OA386378
4    T0000005117  120000  2019-06-15 08:44:23    TS506913

In [9]:
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [11]:
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))
print(len(transaction_1) + len(transaction_2))

5000
1786
6786
6786

In [12]:
transaction_detail_1 = pd.read_csv('./csv/transaction_detail_1.csv')
transaction_detail_2 = pd.read_csv('./csv/transaction_detail_2.csv')
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)
transaction_detail.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2