In [2]:
import pandas as pd

In [3]:
import numpy as np

In [3]:
s = pd.Series([1,2,np.nan])

In [4]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
s[0]

1.0

In [6]:
s.sum()

3.0

In [7]:
s.all

<bound method Series.all of 0    1.0
1    2.0
2    NaN
dtype: float64>

In [8]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})

In [10]:
df

   A  B
0  1  3
1  2  4

In [11]:
df.dtypes

A    int64
B    int64
dtype: object

In [15]:
df = pd.DataFrame(np.random.randn(6,4))

In [16]:
df

          0         1         2         3
0  0.344197 -0.197718  0.592611  0.088324
1 -0.371683 -0.217458  0.081767 -0.068569
2  0.358952  0.528159 -0.517565 -0.915051
3  0.695267 -1.659570 -0.619952 -0.655689
4 -0.163771 -0.365464  1.239390  0.190689
5  0.220863  2.169984 -0.557952 -1.443417

In [19]:
df = pd.DataFrame(np.random.randn(6,4), index=pd.date_range('20200101', periods=6))
df

                   0         1         2         3
2020-01-01  1.293312 -0.436001  0.898822  0.423703
2020-01-02 -0.834729 -0.840151 -1.381528 -0.720186
2020-01-03  0.054106 -0.916242  0.583516  0.043223
2020-01-04 -0.560647 -1.535631  0.203795 -1.479003
2020-01-05 -0.537720 -0.847862  0.115842  0.728822
2020-01-06 -0.111166 -0.021775  0.418189  1.944539

In [22]:
df = pd.DataFrame(np.random.randn(6,4), index=pd.date_range('20200101', periods=6), columns=['A','B','C','D'])
df

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476

In [24]:
len(df.columns)

4

In [25]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [27]:
len(df)

6

In [28]:
df.head(1)

                   A        B         C         D
2020-01-01 -2.077417 -0.54246  1.089139  2.333203

In [29]:
df.tail(1)

                   A         B         C         D
2020-01-06  0.603749  0.544703 -0.474016  0.696476

In [30]:
df.head(-1)

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805

In [31]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df.values

array([[-2.07741707, -0.5424602 ,  1.08913895,  2.33320289],
       [-0.94532071, -0.07681009, -0.42192263, -0.84244257],
       [ 0.52286475,  0.81503776,  1.02453858, -1.03964244],
       [ 1.34673899, -0.04161734, -0.59021429, -0.45003504],
       [ 0.00474864,  0.46885925,  2.48538714,  0.59980459],
       [ 0.6037491 ,  0.54470305, -0.47401553,  0.69647629]])

In [34]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.090773  0.194619  0.518819  0.216227
std    1.233814  0.501089  1.228745  1.265010
min   -2.077417 -0.542460 -0.590214 -1.039642
25%   -0.707803 -0.068012 -0.460992 -0.744341
50%    0.263807  0.213621  0.301308  0.074885
75%    0.583528  0.525742  1.072989  0.672308
max    1.346739  0.815038  2.485387  2.333203

In [35]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -2.077417   -0.945321    0.522865    1.346739    0.004749    0.603749
B   -0.542460   -0.076810    0.815038   -0.041617    0.468859    0.544703
C    1.089139   -0.421923    1.024539   -0.590214    2.485387   -0.474016
D    2.333203   -0.842443   -1.039642   -0.450035    0.599805    0.696476

In [36]:
df.sort_values(by='B')

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476
2020-01-03  0.522865  0.815038  1.024539 -1.039642

In [38]:
df.sort_values(by='B', ascending=True)

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476
2020-01-03  0.522865  0.815038  1.024539 -1.039642

In [39]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-06  0.603749  0.544703 -0.474016  0.696476
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-01 -2.077417 -0.542460  1.089139  2.333203

In [40]:
df[0:3]

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642

In [43]:
df['20200102': '20200104']

                   A         B         C         D
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035

In [44]:
df['20200102': '20200104'].T

   2020-01-02  2020-01-03  2020-01-04
A   -0.945321    0.522865    1.346739
B   -0.076810    0.815038   -0.041617
C   -0.421923    1.024539   -0.590214
D   -0.842443   -1.039642   -0.450035

In [45]:
df.loc['20200104']

A    1.346739
B   -0.041617
C   -0.590214
D   -0.450035
Name: 2020-01-04 00:00:00, dtype: float64

In [46]:
df.loc['20200102', ['A','B']]

A   -0.945321
B   -0.076810
Name: 2020-01-02 00:00:00, dtype: float64

In [48]:
df.loc['20200102', ['A','B']].mean()

-0.5110653968242503

In [49]:
df.loc['20200102':'20200104', ['A','B']]

                   A         B
2020-01-02 -0.945321 -0.076810
2020-01-03  0.522865  0.815038
2020-01-04  1.346739 -0.041617

In [51]:
df.loc[:,['A','B']]

                   A         B
2020-01-01 -2.077417 -0.542460
2020-01-02 -0.945321 -0.076810
2020-01-03  0.522865  0.815038
2020-01-04  1.346739 -0.041617
2020-01-05  0.004749  0.468859
2020-01-06  0.603749  0.544703

In [52]:
df.iloc[0]

A   -2.077417
B   -0.542460
C    1.089139
D    2.333203
Name: 2020-01-01 00:00:00, dtype: float64

In [53]:
df.iloc[0:2]

                   A        B         C         D
2020-01-01 -2.077417 -0.54246  1.089139  2.333203
2020-01-02 -0.945321 -0.07681 -0.421923 -0.842443

In [54]:
df.iloc[-1]

A    0.603749
B    0.544703
C   -0.474016
D    0.696476
Name: 2020-01-06 00:00:00, dtype: float64

In [55]:
df

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476

In [56]:
df.iloc[0:2,1:2]

                  B
2020-01-01 -0.54246
2020-01-02 -0.07681

In [59]:
df[df.B > 0]

                   A         B         C         D
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476

In [60]:
df[df.B < 0]

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035

In [61]:
df['B']

2020-01-01   -0.542460
2020-01-02   -0.076810
2020-01-03    0.815038
2020-01-04   -0.041617
2020-01-05    0.468859
2020-01-06    0.544703
Freq: D, Name: B, dtype: float64

In [62]:
df

                   A         B         C         D
2020-01-01 -2.077417 -0.542460  1.089139  2.333203
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443
2020-01-03  0.522865  0.815038  1.024539 -1.039642
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035
2020-01-05  0.004749  0.468859  2.485387  0.599805
2020-01-06  0.603749  0.544703 -0.474016  0.696476

In [64]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'tow', 'three', 'foir', 'three']

In [65]:
df2

                   A         B         C         D      E
2020-01-01 -2.077417 -0.542460  1.089139  2.333203    one
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443    one
2020-01-03  0.522865  0.815038  1.024539 -1.039642    tow
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035  three
2020-01-05  0.004749  0.468859  2.485387  0.599805   foir
2020-01-06  0.603749  0.544703 -0.474016  0.696476  three

In [70]:
df2['E'][2] = 'two'

In [71]:
df2['E'][2]

'two'

In [74]:
df2[df2['E'].isin(['one'])]

                   A        B         C         D    E
2020-01-01 -2.077417 -0.54246  1.089139  2.333203  one
2020-01-02 -0.945321 -0.07681 -0.421923 -0.842443  one

In [77]:
df2[df2['E'].isin(['one','two'])]

                   A         B         C         D    E
2020-01-01 -2.077417 -0.542460  1.089139  2.333203  one
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443  one
2020-01-03  0.522865  0.815038  1.024539 -1.039642  two

In [78]:
df2['E'].isin(['one','two'])

2020-01-01     True
2020-01-02     True
2020-01-03     True
2020-01-04    False
2020-01-05    False
2020-01-06    False
Freq: D, Name: E, dtype: bool

In [79]:
s = pd.Series([1,2,3,4,5,6], index=pd.date_range('20200101', periods=6))

In [80]:
s

2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
Freq: D, dtype: int64

In [83]:
df['E'] = s

In [84]:
df

                   A         B         C         D  E
2020-01-01 -2.077417 -0.542460  1.089139  2.333203  1
2020-01-02 -0.945321 -0.076810 -0.421923 -0.842443  2
2020-01-03  0.522865  0.815038  1.024539 -1.039642  3
2020-01-04  1.346739 -0.041617 -0.590214 -0.450035  4
2020-01-05  0.004749  0.468859  2.485387  0.599805  5
2020-01-06  0.603749  0.544703 -0.474016  0.696476  6

In [85]:
df.shift(1)

                   A         B         C         D    E
2020-01-01       NaN       NaN       NaN       NaN  NaN
2020-01-02 -2.077417 -0.542460  1.089139  2.333203  1.0
2020-01-03 -0.945321 -0.076810 -0.421923 -0.842443  2.0
2020-01-04  0.522865  0.815038  1.024539 -1.039642  3.0
2020-01-05  1.346739 -0.041617 -0.590214 -0.450035  4.0
2020-01-06  0.004749  0.468859  2.485387  0.599805  5.0

In [86]:
df = pd.DataFrame(np.random.randn(2,2))

In [87]:
df

          0         1
0 -0.157526 -1.525802
1  1.956940 -0.736937

In [88]:
pd.concat([df,df])

          0         1
0 -0.157526 -1.525802
1  1.956940 -0.736937
0 -0.157526 -1.525802
1  1.956940 -0.736937

In [89]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])

In [90]:
df

          A         B         C         D
0  0.868680 -1.566257 -0.166584  0.165355
1  0.512929  0.821781  0.472510 -0.317623
2  2.095500  1.676867 -0.712714  1.233066
3  0.916344  1.467143 -0.570896  0.221685
4 -0.554656  2.245104 -1.441053 -0.389300
5 -0.498578 -1.286163 -0.060397  0.036459
6  1.862995  3.240909  0.317966 -0.239520
7 -0.686820 -0.672838  0.056219  1.470974

In [91]:
s = df.iloc[0]

In [92]:
s

A    0.868680
B   -1.566257
C   -0.166584
D    0.165355
Name: 0, dtype: float64

In [93]:
s.T

A    0.868680
B   -1.566257
C   -0.166584
D    0.165355
Name: 0, dtype: float64

In [94]:
s.axes

[Index(['A', 'B', 'C', 'D'], dtype='object')]

In [95]:
df.append(s)

          A         B         C         D
0  0.868680 -1.566257 -0.166584  0.165355
1  0.512929  0.821781  0.472510 -0.317623
2  2.095500  1.676867 -0.712714  1.233066
3  0.916344  1.467143 -0.570896  0.221685
4 -0.554656  2.245104 -1.441053 -0.389300
5 -0.498578 -1.286163 -0.060397  0.036459
6  1.862995  3.240909  0.317966 -0.239520
7 -0.686820 -0.672838  0.056219  1.470974
0  0.868680 -1.566257 -0.166584  0.165355

In [96]:
df.append(df.iloc[2])

          A         B         C         D
0  0.868680 -1.566257 -0.166584  0.165355
1  0.512929  0.821781  0.472510 -0.317623
2  2.095500  1.676867 -0.712714  1.233066
3  0.916344  1.467143 -0.570896  0.221685
4 -0.554656  2.245104 -1.441053 -0.389300
5 -0.498578 -1.286163 -0.060397  0.036459
6  1.862995  3.240909  0.317966 -0.239520
7 -0.686820 -0.672838  0.056219  1.470974
2  2.095500  1.676867 -0.712714  1.233066

In [97]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.868680 -1.566257 -0.166584  0.165355
1  0.512929  0.821781  0.472510 -0.317623
2  2.095500  1.676867 -0.712714  1.233066
3  0.916344  1.467143 -0.570896  0.221685
4 -0.554656  2.245104 -1.441053 -0.389300
5 -0.498578 -1.286163 -0.060397  0.036459
6  1.862995  3.240909  0.317966 -0.239520
7 -0.686820 -0.672838  0.056219  1.470974
8  0.868680 -1.566257 -0.166584  0.165355

In [4]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': np.random.randn(4)})

In [5]:
df

     A         B
0  foo -2.874832
1  bar -0.885438
2  foo -2.151053
3  bar  0.873407

In [6]:
df.groupby('A').sum()

            B
A
bar -0.012031
foo -5.025885

In [101]:
df.groupby('A').sum().max()

B    1.750192
dtype: float64

In [7]:
df.groupby('A').sum().min()

B   -5.025885
dtype: float64

In [9]:
import pandas_datareader

ModuleNotFoundError: No module named 'pandas_datareader'